
*{
  box-sizing: border-box;
  
}

#container{
  display:inline;
  overflow:hidden;
  }
  
  .row::after {
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
.header {
text-align: center;
background-color: rgb(5,71,68);
color: #ffffff;
padding: 15px;
}
h1{
  text-transform: uppercase;
  background-color: black;
  }  
.menu ul {
  list-style-type: none;
  margin: 0;
   padding: 0;
}
  
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
.menu li:hover {
  
  background-color: black;
}
ul li{
  border-radius: 5px;
}
tr:hover{
  color: rgb(247, 247, 247);
  background-color: rgb(221, 73, 73);
}
.grid_item {
  text-align: center;
}

img {
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
  justify-content: space-around;
  border: 2px solid rgb(15, 15, 15);
}
th{
  background-color: rgb(24, 102, 78);
}   
th, td { 
  border:1px solid black;
  text-align: center;
  border-radius: 5px;
}
footer{
  display:inline-block;
  width:100%;
  text-align: center;
  background-color: rgb(71, 71, 71);
  color:white;
}
  
h2,h3,h4{
    text-transform:uppercase;
    text-align: center;
  }

#Object{
  background-color: rgb(221, 73, 73);
  width: 60%;
  margin: 0 auto;
  border: 2px solid black;
  
}
#Object:hover{
  opacity: 1;
  width: 100%;
  transition:  2s;
  color: rgb(12, 12, 12);
  background-color: rgb(24, 102, 78);
  text-transform: uppercase;
  font-weight: bold;
}
#transition:hover{
  border: 2px solid rgba(248, 232, 11, 0.973);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform:rotate(360deg);
  transform: rotate(360deg);
  transition: 1s;
  opacity: 1;
  background-color: rgb(240, 240, 240);
  width: 20%;
}
@media (max-width: 668px) {
  section {
  -webkit-flex-dirction: column;
  flex-direction: column;
}
}

@media (min-width: 258px) {
  section {
  -webkit-flex-dirction: column;
  flex-direction: column;
}
}
